#the_book {
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
    box-sizing: border-box;
    display: grid;
}
#the_book strong {
    display: block;
    padding-top: 5%;
}
#the_book p {
    padding-bottom: 5%;
}
#the_book input, #the_book button {
    margin: 2% 0 2% 0;
}
#the_book > div h2 {
    font-size: 170%;
}
#the_book em {
    display: block;
}

@media only screen and (max-width: 600px) {
    #the_book {
        max-width: 590px;
        grid-template-columns: 1fr;
    }
    #the_book * {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) {
    #the_book {
        max-width: 1200px;
        grid-template-columns: 1fr 2fr;
    }

    
}