#cart {
    margin: 0 auto;
    padding: 1% 1.5% 2% 1.5%;
    box-sizing: border-box;
    min-height: 194px;
}
#cart > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
}
#cart figure {
    margin: auto;
}
#cart > div > div {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}
#cart button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    border: 0;
    background-color: white;
    color: red;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
}
#cart button#buy_every {
    color: lightseagreen;
}


@media only screen and (max-width: 600px) {
    #cart {
        max-width: 590px;
    }
    #cart > div > * {
        padding: 2%;
        box-sizing: border-box;
        font-size: 80%;
    }
    #cart img {
        max-width: 60px;
        height: auto;
    }
}

@media only screen and (min-width: 601px) {
    #cart {
        max-width: 1200px;
    }
    #cart img {
        max-width: 100px;
        height: auto;
    }
}

