.register_site {
    box-sizing: border-box;
    min-height: 400px;
    border: 3px solid black;
    border-radius: 5%;
    overflow: hidden;
}
.change_log {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.change_log > button {
    height: 50px;
    border-radius: 0%;
    background-color: white;
}
.change_log > button:hover {
    background-color: lightblue;
}
.change_log > .active, .change_log > .active:hover {
    background-color: cyan;
}
.register_site > div {
    padding: 5% 10% 5% 10%;
    box-sizing: border-box;
}
.logging_form {
    display: grid;
    grid-template-columns: 15fr 1fr;
    gap: 10px; /* Dodaje estetyczne odstępy między elementami */
    grid-template-areas: 
        "tytul tytul"
        "email1 email1" 
        "email2 email2" 
        "haslo1 haslo1" 
        "haslo2 eye1" 
        "haslo3 haslo3" 
        "haslo4 eye2" 
        "guzik guzik";
}

.logging_form strong { grid-area: tytul; }
.area-email1 { grid-area: email1; }
.area-email2 { grid-area: email2; }
.area-haslo1 { grid-area: haslo1; }
.area-haslo2 { grid-area: haslo2; }
.area-eye1   { grid-area: eye1; }
.area-haslo3 { grid-area: haslo3; }
.area-haslo4 { grid-area: haslo4; }
.area-eye2   { grid-area: eye2; }
.area-guzik  { grid-area: guzik; }

.logging_form * {
    margin: 1.5% 0 0 0;
    text-align: center;
    font-size: 120%;
}
#pass_error {
    color: red;
}

@media only screen and (max-width: 600px) {
    .register_site {
        max-width: 590px;
        margin: 5% auto;
    }
}
@media only screen and (min-width: 601px) {
    .register_site {
        max-width: 1200px;
        margin: 1% auto;
    }
}