#payment {
    padding: 3%;
    box-sizing: border-box;
    border: 10px solid aquamarine;
    border-radius: 10%;
}

#payment * {
    display: block;
    padding: 0.5%;
}
#payment strong, #payment p {
    padding-top: 2.5%;
}
#payment a {
    border: 1px solid blue;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 50%;
    width: 30%;
    margin: 3% auto;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: black;
}
#payment a:hover {
    background-color: aqua;
}

@media only screen and (max-width: 600px) {
    #payment {
        max-width: 590px;
        margin: 5%;
    }
    #payment a {
        font-size: 80%;
        padding: 3%;
    }
}
@media only screen and (min-width: 601px) {
    #payment {
        max-width: 1200px;
        margin: 2% auto;
    }
    #payment a {
        padding: 1%;
    }
}