/*Dane ogólne, dla wersji mobilnej oraz zwykłej*/

/*Body oraz ogólny wygląd strony*/
body {
    top: -8px;
    position: relative;
}
body > div > * {
    padding: 0 16px;
    box-sizing: border-box;
}
/*główny nagłówek witryny*/
body > div.header {
    background-image: radial-gradient(#bec184, #7a4e00);
}
body > div > header#main_header {
    width: 100%;
    background-repeat: no-repeat;
    padding: 0;
}
body > div > header#main_header > h1 {
    position: absolute;
    top: -9999px;
}
/*Nawigacja*/
body > div.nav {
    background-color: antiquewhite;
    position: sticky;
    top: 0px;
    z-index: 1;
}
body > div > nav {
    width: 100%;
}
/*Dział main strony index.php - pokazanie produktów*/
body > div > main {
    min-height: 500px;
    width: 100%;
}
body > div > main > section {
    display: grid;
}
body > div > main > section > div {
    box-sizing: border-box;
}
body > div > main > section > header {
    text-align: center;
    font-size: 150%;
}
body > div > main img {
    height: auto;
}
body > div > main > section strong, body > div > main > section em {
    text-align: center;
    display: block;
    margin: 5px 0px 5px 0px;
}
body > div > main > section strong {
    font-size: 150%;
}
body > div > main > section input, body > div > main > section button {
    margin: auto;
    display: block;
}
body > div > main > section > div > a {
    color: black;
    text-decoration: none;
}
/*podstrona search*/
#main_search {
    margin: 0 auto;
}
#main_search h2 {
    text-align: center;
}
#main_search a div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1%;
    border: 3px solid white;
}
#main_search a div:hover {
    border: 3px dotted blue;
}
#main_search a {
    color: black;
    text-decoration: none;
}
#main_search a div img {
    max-height: 100px;
    width: auto;
}
/*Stopka*/
body > div.footer {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px 0px -16px 0px;
    box-sizing: border-box;
}
body > div.footer > footer {
    display: grid;
    align-items: center;
    justify-items: center;
}
body > div.footer > footer > nav {
    display: grid;
    grid-template-columns: 1fr;
}
body > div.footer > footer > nav a {
    padding-bottom: 8%;
}

/*Podklasa elementów niewidocznych dla użytkownika*/
.invisible {
    position: absolute;
    top: -999px;
}

/*Podstrona profile*/
#profile {
    margin: 0 auto;
    padding: 2%;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 180%;
}
#profile > section {
    border-top: 1px solid darkcyan;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 2%;
}
#profile > section > ul {
    list-style-type: square;
    list-style-position: inside;
}
#profile > section > form.show_all > button {
    border: 0;
    background-color: white;
    color: darkcyan;
    text-decoration: underline;
    cursor: pointer;
    padding: 2%;
}
#profile > section img {
    max-width: 80px;
    height: auto;
}
#profile > section > ol > li {
    display: grid;
    padding: 2% 0% 2% 0%;
    box-sizing: border-box;
    height: auto;
    align-items: center;
    justify-items: center;
}
#profile > section > ol > li > form > button {
    border-radius: 40%;
    background-color: greenyellow;
    border: 1px solid green;
    cursor: pointer;
    padding: 10%;
    box-sizing: border-box;
    width: 180%;
    color: rgb(1, 53, 1);
    
}
#profile > section > form#profile_log_out > button {
    width: 100%;
    border: 0;
    cursor: pointer;
    background-color: lightgrey;
    color: black;
    box-sizing: border-box;
    padding: 1%;
    margin: 20px 0px -50px 0px;
}

/*Podstrona payment*/
#payment {
    padding: 3%;
    box-sizing: border-box;
    border: 10px solid aquamarine;
    border-radius: 10%;
}

#payment * {
    display: block;
    padding: 0.5%;
}
#payment strong, #payment p {
    padding-top: 2.5%;
}
#payment a {
    border: 1px solid blue;
    background-color: aquamarine;
    cursor: pointer;
    border-radius: 50%;
    width: 30%;
    margin: 3% auto;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: black;
}
#payment a:hover {
    background-color: aqua;
}

/*Podstrona login*/
.register_site {
    box-sizing: border-box;
    min-height: 400px;
    border: 3px solid black;
    border-radius: 5%;
    overflow: hidden;
}
.change_log {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.change_log > button {
    height: 50px;
    border-radius: 0%;
    background-color: white;
}
.change_log > button:hover {
    background-color: lightblue;
}
.change_log > .active, .change_log > .active:hover {
    background-color: cyan;
}
.register_site > div {
    padding: 5% 10% 5% 10%;
    box-sizing: border-box;
}
.logging_form {
    display: grid;
    grid-template-columns: 15fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "tytul tytul"
        "email1 email1" 
        "email2 email2" 
        "haslo1 haslo1" 
        "haslo2 eye1" 
        "haslo3 haslo3" 
        "haslo4 eye2" 
        "guzik guzik";
}

.logging_form strong { grid-area: tytul; }
.area-email1 { grid-area: email1; }
.area-email2 { grid-area: email2; }
.area-haslo1 { grid-area: haslo1; }
.area-haslo2 { grid-area: haslo2; }
.area-eye1   { grid-area: eye1; }
.area-haslo3 { grid-area: haslo3; }
.area-haslo4 { grid-area: haslo4; }
.area-eye2   { grid-area: eye2; }
.area-guzik  { grid-area: guzik; }

.logging_form * {
    margin: 1.5% 0 0 0;
    text-align: center;
    font-size: 120%;
}
#pass_error {
    color: red;
}

/*Podstrona cart*/
#cart {
    margin: 0 auto;
    padding: 1% 1.5% 2% 1.5%;
    box-sizing: border-box;
    min-height: 194px;
}
#cart > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1%;
}
#cart figure {
    margin: auto;
}
#cart > div > div {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}
#cart button {
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    border: 0;
    background-color: white;
    color: red;
    cursor: pointer;
    font-size: 110%;
    font-weight: bold;
}
#cart button#buy_every {
    color: lightseagreen;
}

/*Podstrona book*/
#the_book {
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
    box-sizing: border-box;
    display: grid;
}
#the_book strong {
    display: block;
    padding-top: 5%;
}
#the_book p {
    padding-bottom: 5%;
}
#the_book input, #the_book button {
    margin: 2% 0 2% 0;
}
#the_book > div h2 {
    font-size: 170%;
}
#the_book em {
    display: block;
}

/*Podstrona admin*/
#admin {
    margin: 0 auto;
    padding: 2%;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 180%;
}
#admin > section:first-of-type > ul > form > li, #admin > section:nth-of-type(2) > ul > li {
    display: grid;
    justify-items: center;
    box-sizing: border-box;
}
#admin > section:first-of-type > ul > form > li:hover { 
    border: 1px solid blue;
}
#admin > section:first-of-type > ul li > * {
    display: block;
}
#admin > section:first-of-type > ul li > button {
    border: 0;
    background-color: white;
    color:darkgreen;
    font-weight: bold;
}
#admin > section:first-of-type > ul li > button:hover {
    cursor: pointer;
    color: green;
}
#oplacone {
    border: 0;
    background-color: white;
    color: darkcyan;
    text-decoration: underline;
    cursor: pointer;
    padding: 2%;
}
#admin > section #add > fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#admin > section #add > fieldset > *{
    padding: 1%;
    width: 92%;
    min-width: 50px;
    font-size: 80%;
    text-align: center; 
}
#admin > section #add > fieldset input[type='file'] {
    font-size: 0.6vw;
}
#admin > section #add > fieldset > span {
    display: grid;
}


@media only screen and (max-width: 600px) {/*CSS dla wersji mobilnej*/
    body > div > * {
        width: 100%;
        margin: 0;
    }
    /*Nagłówek*/
    body > div > header#main_header {
        max-width: 550px;
        min-height: 150px;
        max-height: 180px;
        background-image: url("/bookshop/files/baner_mobile.webp");
        background-size: 100%;
        background-position: left;
        margin: 0;
    }
    /*Nawigacja*/
    body > div.nav {
        font-size: 1.5cap;
        height: 50px;
        transition: height 1s linear;
        overflow: hidden;
    }
    body > div > nav {
        margin-top: 50px;
        height: 350px;
        padding: 20px;
    }
    body > div.nav:hover {
        height: 400px;
    }
    body > div.nav > nav > #invisible_arrow {
        top: 0px;
        left: 0px;
        position: absolute;
        height: 50px;
        width: 100%;
        display: block;
        text-align: center;
        font-size: 200%;
        transition: all;
        transition: 25ms;
    }
    body > div.nav:hover > nav > #invisible_arrow {
        top: -9999px
    }
    body > div.nav:has(#wycofaj:hover) > nav > #invisible_arrow {
        top: 0px;
    }
    body > div.nav > #wycofaj {
        height: 50px;
        width: 100%;
        position: absolute;
        top: -50px;
        transition: all;
        text-align: center;
        font-size: 200%;
        transition-delay: 25ms;
    }
    body > div.nav:hover > #wycofaj {
        top: 0px;
    }
    body > div.nav:has(#wycofaj:hover) {
        height: 50px;
    }
    body > div.nav > #wycofaj:hover {
        top: -50px;
    }
    body > div.nav > nav a {
        display: block;
        width: 100%;
        height: 60px;
        margin: 10px auto;
        text-align: center;
        box-sizing: border-box;
    }
    body > div.nav > nav img {
        width: 40px;
        height: 40px;
        transform: translateY(30%);
    }
    body > div.nav > nav form {
        display: grid;
        grid-template-columns: 5fr 1fr;
        padding: 10px;
        box-sizing: border-box;
    }
    body > div.nav > nav > div > a:first-child {
        display: none;
    }
    /*Część MAIN*/
    body > div > main {
        padding: 0;
        box-sizing: border-box;
    }
    body > div > main > section {
        grid-template-columns: 1fr;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }
    body > div > main > section > div {
        min-height: 260px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.09);
        margin-bottom: 10px;
    }
    body > div > main > section > div:hover {
        transform: scale(105%);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
    body > div > main img {
        width: 80px;
    }
    body > div > main > section > div figure {
        margin: 0 auto;
        padding: 10px;
    }
    body > div > main > section > div > a {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    /*Podstrona search*/
    #main_search {
        max-width: 590px;
    }
    #main_search h2 {
        font-size: 120%;
    }
    #main_search a div {
        font-size: 85%;
    }
    /*Stopka*/
    body > div.footer {
        min-height: 40px;
    }
    body > div.footer > footer {
        grid-template-columns: 1fr;
    }
    body > div.footer > footer > nav {
        padding: 20px;
    }
    body > div.footer > footer a {
        color: darkcyan;
        text-decoration: underline; 
    }
    /*Podstrona profile*/
    #profile {
        max-width: 590px;
    }
    #profile > section > ol > li {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 90%;
    }
    /*Podstrona payment*/
    #payment {
        max-width: 590px;
        margin: 5%;
    }
    #payment a {
        font-size: 80%;
        padding: 3%;
    }
    /*Podstrona login*/
    .register_site {
        max-width: 590px;
        margin: 5% auto;
    }
    /*Podstrona cart*/
    #cart {
        max-width: 590px;
    }
    #cart > div > * {
        padding: 2%;
        box-sizing: border-box;
        font-size: 80%;
    }
    #cart img {
        max-width: 60px;
        height: auto;
    }
    /*Podstrona book*/
    #the_book {
        max-width: 590px;
        grid-template-columns: 1fr;
    }
    #the_book * {
        text-align: center;
    }
    /*Podstrona admin*/
    #admin {
        max-width: 590px;
    }
    #admin > section:first-of-type > ul > form > li, #admin > section:nth-of-type(2) > ul > li {
        padding: 1.5%;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        font-size: 90%;
    }
    #admin > section > ul {
        padding: 0;
    }
}



@media only screen and (min-width: 601px) {/*CSS wersja desktopowa - dla PC i laptopów*/
    body > div > * {
        max-width: 1200px;
        margin: 0 auto;
    }
    /*Nagłówek*/
    body > div > header#main_header {
        max-width: 100%;
        min-height: 160px;
        max-height: 190px;
        background-image: url("/bookshop/files/baner.webp");
        background-size: contain;
        background-position: center;
        margin: 0 auto;
    }
    /*Nawigacja*/    
    body > div.nav {
        font-size: 2cap;
    }
    body > div > nav {
        min-height: 30px;
        max-height: 100px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr;
    }
    body > div > nav > a {
        height: 100px;
        text-decoration: none;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        transform: scale(90%);
        border: 1px solid black;
        overflow: hidden;
    }
    body > div > nav > a:hover, body > div > nav > div > a:hover {
        background-color: #d7c8b4;
    }
    body > div > nav > a:last-of-type, body > div > nav > div > a:first-of-type {
        font-size: 200%;
    }
    body > div > nav > div {
        height: 100px;
        overflow: hidden;
        border-collapse: collapse;
        transition: height 0.4s ease-in-out, margin-top 0.4s ease-in-out;
        transform: scale(90%);
    }
    body > div > nav > div:hover {
        height: 104%;
        margin-top: -7.2%;
    }
    body > div > nav > div > a {
        border-collapse: collapse;
        height: 98px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: antiquewhite;
        text-align: center;
    }
    body > div > nav > a > img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15% 15% 15%;
    }
    body > div > nav > a:last-of-type > span:last-of-type {
        display: none;
    }
    body > div > nav > a:last-of-type > span{
        margin: 0 auto;
    }
    body > div > nav > form > input {
        height: 92px;
        max-width: 100%;
        padding: 15px;
        box-sizing: border-box;
        transform: translateY(-4px);
        font-size: 2cap;
        width: 83%;
    }
    body > div > nav > form > button {
        height: 90px;
        max-width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-top: 5px;
        font-size: 2.5cap;
        width: 15%;
        cursor: pointer;
    }
    body > div.nav > #wycofaj, body > div.nav > nav > #invisible_arrow {
        display: none;
    }
    /*Sekcja MAIN*/
    body > div > main > section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "article1 article2 article3";
        padding: 2%;
    }
    body > div > main > section > div {
        min-height: 240px;
        padding: 5%;
    }
    body > div > main > section > div:first-of-type {
        grid-area: article1;
    }
    body > div > main > section > div:nth-of-type(2) {
        grid-area: article2;
    }
    body > div > main > section > div:last-of-type {
        grid-area: article3;
    }
    body > div > main > section > div:hover {
        transform: scale(110%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    body > div > main img {
        width: 100%;
        object-fit: contain;
    }
    body > div > main > section > header {
        grid-area: header;
    }
    /*Podstrona search*/
    #main_search {
        max-width: 1200px;
    }
    /*Stopka*/
    body > div.footer {
        min-height: 50px;
    }
    body > div.footer > footer {
        grid-template-columns: 1fr 1fr;
    }
    body > div.footer > footer a {
        color: black;
        text-decoration: none;
    }
    body > div.footer > footer > nav a:hover {
        color: darkcyan;
        text-decoration: underline; 
    }
    /*Podstrona profile*/
    #profile {
        max-width: 1200px;
    }
    #profile > section > ol > li {
        grid-template-columns: 1fr 1fr 1fr 4fr;
    }
    /*Podstrona payment*/
    #payment {
        max-width: 1200px;
        margin: 2% auto;
    }
    #payment a {
        padding: 1%;
    }
    /*Podstrona login*/
    .register_site {
        max-width: 1200px;
        margin: 1% auto;
    }
    /*Podstrona cart*/
    #cart {
        max-width: 1200px;
    }
    #cart img {
        max-width: 100px;
        height: auto;
    }
    /*Podstrona book*/
    #the_book {
        max-width: 1200px;
        grid-template-columns: 1fr 2fr;
    }
    /*Podstrona admin*/
    #admin {
        max-width: 1200px;
    }
    #admin > section:first-of-type > ul > form > li, #admin > section:nth-of-type(2) > ul > li {
        padding: 1.5% 1% 1.5% 1%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr 5fr;
    }
}