@media only screen and (max-width: 600px) {
   
}
@media only screen and (min-width: 601px) {
    body {
        top: -8px;
        position: relative;
    }
    body > div > * {
        padding: 0 16px;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    body > div.nav {
        background-color: antiquewhite;
        position: sticky;
        top: 0px;
        z-index: 1;
        font-size: 2cap;
    }
    body > div.header {
        background-image: radial-gradient(#bec184, #7a4e00);
    }
    body > div > header#main_header {
        max-width: 100%;
        width: 100%;
        min-height: 160px;
        max-height: 190px;
        background-image: url("/bookshop/files/baner.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        padding: 0;
    }
    body > div > header#main_header > h1 {
        position: absolute;
        top: -9999px;
    }

    body > div > nav {
        width: 100%;
        min-height: 30px;
        max-height: 100px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    }
    body > div > nav > a {
        height: 100px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(90%);
        border: 1px solid black;
    }
    body > div > nav > a:last-of-type, body > div > nav > div > a:first-of-type {
        font-size: 200%;
    }
    body > div > nav > div {
        height: 100px;
        overflow: hidden;
        border-collapse: collapse;
        transition: height 0.4s ease-in-out, margin-top 0.4s ease-in-out;
        transform: scale(90%);
    }
    body > div > nav > div:hover {
        height: 300%;
        margin-top: -25%;
    }
    body > div > nav > div > a {
        border-collapse: collapse;
        height: 98px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: antiquewhite;
        text-align: center;
    }
    body > div > nav > a > img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5%;
    }
    body > div > nav > form > input {
        height: 92px;
        max-width: 100%;
        padding: 15px;
        box-sizing: border-box;
        transform: translateY(-4px);
        font-size: 2cap;
        width: 83%;
    }
    body > div > nav > form > button {
        height: 90px;
        max-width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-top: 5px;
        font-size: 2.5cap;
        width: 15%;
        cursor: pointer;
    }


    body > div > main {
        height: 2312px;
        width: 100%;
    }
    body > div > main > section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "article1 article2 article3";
        padding: 2%;
    }
    body > div > main > section > div {
        min-height: 240px;
        padding: 5%;
        box-sizing: border-box;
    }
    body > div > main > section > div:first-of-type {
        grid-area: article1;
    }
    body > div > main > section > div:nth-of-type(2) {
        grid-area: article2;
    }
    body > div > main > section > div:last-of-type {
        grid-area: article3;
    }
    body > div > main > section > div:hover {
        transform: scale(110%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    body > div > main > section > header {
        grid-area: header;
        text-align: center;
        font-size: 150%;
    }
    body > div > main img {
        width: 100%;
        object-fit: contain;
        height: auto;
    }
    body > div > main > section > div > figure {
        max-width: 75%;
        margin: 0 auto;
        object-fit: contain;
    }
    body > div > main > section strong, body > div > main > section em {
        text-align: center;
        display: block;
        margin: 5px 0px 5px 0px;
    }
    body > div > main > section strong {
        font-size: 150%;
    }
    body > div > main > section input, body > div > main > section button {
        margin: auto;
        display: block;
    }
    body > div > main > section > div > a {
        color: black;
        text-decoration: none;
    }
}

.invisible {
    position: absolute;
    top: -999px;
}

















































